@model IEnumerable<Part_7_UV_registry.Models.Conviction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConvictionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inmate.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConvictionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inmate.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ConvictionId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ConvictionId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ConvictionId })
        </td>
    </tr>
}

</table>
