@model Part_5.Models.Trainee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trainee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FitnessStyle.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FitnessStyle.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HealthCoachId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HealthCoachId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TraineeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
